<section>
    @foreach(var activity in Activities)
    {
        if(activity is ObjectiveDto objective)
        {
            <ObjectiveItem objective="@objective" />
        }
        else if (activity is PraiseDto praise)
        {
            <PraiseItem praise="@praise" />
        }
    }
</section>

@code {
    [Parameter]
    public List<ActivityDto> Activities { get; set; }
}