<div class="create-new-component">
    <button class="btn btn-primary" @onclick="OnToggleMenuClick">
        ➕ Create
    </button>

    @if (isMenuOpen)
    {
        <ul>
            <li>
                <button @onclick="OnNewPraiseClick">
                    <span class="oi oi-thumb-up" aria-hidden="true"></span> Praise
                </button>
            </li>
            <li>
                <button @onclick="OnNewObjectiveClick">
                    <span class="oi oi-compass" aria-hidden="true"></span> Objective
                </button>
            </li>
        </ul>
    }
</div>

<NewPraiseModal @ref="newPraiseModal"/>

<NewObjectiveModal @ref="newObjectiveModal" />

@code {

    private bool isMenuOpen;
    private NewPraiseModal newPraiseModal;
    private NewObjectiveModal newObjectiveModal;

    private void OnToggleMenuClick()
    {
        isMenuOpen = !isMenuOpen;
        StateHasChanged();
    }

    private void OnNewPraiseClick()
    {
        isMenuOpen = false;
        newPraiseModal.Open();
    }

    private void OnNewObjectiveClick()
    {
        isMenuOpen = false;
        newObjectiveModal.Open();
    }
}