﻿@using SmallImprovements.General.Dtos
@using Newtonsoft.Json

@inject IActivitiesService service
@inject IJSRuntime js

<p class="activity-from">@(Objective.Owner.Name)'s objective</p>
<article class="activity-objective">
    <div class="activity-progress">
        <select class="custom-select" @onchange="OnProgressChange">
            @foreach (var progress in Enum.GetValues(typeof(ObjectiveProgress)).Cast<ObjectiveProgress>())
            {
                if (progress == Objective.Progress)
                {
                    <option value="@progress" selected>
                        @(progress.EnumToString())
                    </option>
                }
                else
                {
                    <option value="@progress">
                        @(progress.EnumToString())
                    </option>
                }
            }
        </select>
    </div>
    <h3 class="activity-title">@Objective.Title</h3>
    <p class="activity-date">@Objective.Creation.ToString("MM/dd/yyyy")</p>
    <p class="activity-description">
        @Objective.Description
    </p>
</article>

@code {
    [Parameter]
    public ObjectiveDto Objective { get; set; }

    [JSInvokable]
    public static string GetProgressColors()
    {
        return JsonConvert.SerializeObject(
            new Dictionary<ObjectiveProgress, string>
            {
                { ObjectiveProgress.Achieved, "#6f6"},
                { ObjectiveProgress.InProgress, "#aaf"},
                { ObjectiveProgress.NotAchieved, "#f66"},
                { ObjectiveProgress.Open, "#6ff"}
            });
    }

    //This doesn't work because the components are not rendered yet.
    /*protected override async Task OnInitializedAsync()
    {
        await ChangeBackground();
    }*/

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ChangeBackground();
    }

    private async Task OnProgressChange(ChangeEventArgs args)
    {
        var progress = Enum.Parse<ObjectiveProgress>(args.Value.ToString());
        await service.UpdateObjectiveProgress(Objective, progress);
    }

    private async Task ChangeBackground()
    {
        await js.InvokeVoidAsync("changeObjectiveBackground", nameof(GetProgressColors));
    }
}