﻿@using SmallImprovements.General.Dtos

<p class="activity-from">@Praise.From.Name gave Praise to @Praise.To.Name</p>
<article class="activity-praise">
    <i class="oi oi-badge activity-badge-1"></i>
    <i class="oi oi-badge activity-badge-2"></i>
    <h3 class="activity-title">@Praise.Title</h3>
    <p class="activity-date">@Praise.Creation.ToString("MM/dd/yyyy")</p>
    <div class="activity-to">
        @Praise.To.Name
    </div>
    <p class="activity-description">
        @Praise.Description
    </p>
</article>

@code {
    [Parameter]
    public PraiseDto Praise { get; set; }
}
