﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #1a1500;
    background-color: #feda4c;
    border-color: #ecc83a;
}

    .btn-primary:hover,
    .btn-primary:active {
        color: #1a1500;
        background-color: #ffcc00 !important;
        border-color: #ebc739;
    }

input {
    color: #17191a;
    font-size: 20px !important;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.logged-user-component,
.logged-user-component > button {
    height: 100%;
}

    .logged-user-component > button,
    .logged-user-component > button:hover,
    .logged-user-component > button:active,
    .logged-user-component > ul button,
    .create-new-component > ul button {
        border: none;
        outline: none;
        background-color: transparent;
        margin: 0;
    }

    .logged-user-component > ul,
    .create-new-component > ul {
        position: absolute;
        top: 50px;
        width: 200px;
        background-color: #fff;
        box-shadow: 0 0 3px #999;
        list-style: none;
        padding: 0;
    }

    .logged-user-component > ul {
        right: 5px;
    }

        .logged-user-component > ul button,
        .create-new-component > ul button {
            height: 40px;
            width: 200px;
            text-align: left;
            padding-left: 15px;
        }

        .logged-user-component > ul button:hover,
        .create-new-component > ul button:hover {
            background-color: #e7e7e7;
        }

.create-new-component {
    margin-right: 20px;
}

    .create-new-component > button {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .create-new-component > ul {
        right: 50px;
    }

.activity-praise,
.activity-objective {
    background-color: #fff;
    box-shadow: 0 0 3px #999;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.activity-from {
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: 5px;
}

.activity-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.activity-progress {
    float: right;
}

.activity-date {
    font-size: .89rem;
    color: #73777a;
}

.activity-description {
    font-size: .89rem;
}

.activity-badge-1 {
    position: absolute;
    top: -9px;
    left: -3px;
    font-size: 40pt;
    color: #5a5d60;
    transform: rotate(-24deg);
}

.activity-badge-2 {
    position: absolute;
    top: -8px;
    left: -10px;
    font-size: 40pt;
    color: #5a5d60;
    transform: rotate(8deg);
}

.activity-praise {
    margin-top: 9px;
}

    .activity-praise .activity-title {
        padding-left: 20px;
    }

    .activity-praise .activity-to {
        display: inline-block !important;
        width: 100px;
        vertical-align: top;
    }

    .activity-praise .activity-description {
        display: inline-block;
        width: calc(100% - 105px);
        border-left: 1px solid #5a5d60;
        padding-left: 5px;
    }

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #49864C;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #49864C;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
    color: #000 !important;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .sidebar .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .sidebar .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .sidebar .nav-item a {
        color: #5a5d60;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .sidebar .nav-item a.active {
            font-weight: bold;
            color: #000;
            font-size: 0.99rem;
        }

        .sidebar .nav-item a:hover {
            font-weight: bold;
            background-color: #e7e7e7;
            color: #282b2d;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (min-width: 1380px) {
    .main .content {
        width: 1114px;
        margin: auto;
    }
}
