﻿@page "/"
@inject UserState userState
@inject ActivityState activityState
@inject IActivitiesService service

<h1>Good @timeOfDay, @username</h1>

<ActivityList activities="@activities"/>

@code {
    string timeOfDay;
    string username;
    List<ActivityDto> activities = new List<ActivityDto>();

    protected override async Task OnInitializedAsync()
    {
        var user = await userState.GetUser();
        username = user?.Name;
        timeOfDay = GetTimeOfDay();

        activityState.OnActivityCreated += OnActivityChanged;
        activities = await service.GetActivities();
    }

    private async Task OnActivityChanged()
    {
        activities = await service.GetActivities();
        StateHasChanged();
    }

    private string GetTimeOfDay()
    {
        var time = DateTime.Now.TimeOfDay;

        if (time > TimeSpan.FromHours(6) && time < TimeSpan.FromHours(12))
        {
            return "morning";
        }

        if (time < TimeSpan.FromHours(18))
        {
            return "afternoon";
        }

        return "evening";
    }

}