@page "/login"

@inject IUsersService usersService

<link rel="stylesheet" href="css/login.css" />

<form class="login-form">
    <div class="login-picture">
        <h2>Welcome back!</h2>
    </div>
    <h3>Please log in to get started</h3>
    <div class="form-group">
        <input type="email"
                id="email"
                class="form-control"
                aria-describedby="email"
                placeholder="Email"
                @bind="email" />
    </div>
    <div class="form-group">
        <input type="password"
                id="password"
                class="form-control"
                placeholder="Password"
                @bind="password" />
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" @onclick="Login">Login</button>
    </div>
</form>

@code {
    private string email;
    private string password;

    private async Task Login()
    {
        await usersService.Login(email, password);
    }
}