﻿@inject IUsersService usersService
@inject IActivitiesService activitiesService

<Modal Title="New Praise" OnSave="@OnSave" @ref="modal">

    <div class="form-group">
        <label>To:</label>
        <select @bind="praiseDto.To.Id" class="custom-select">
            @foreach (var person in people)
            {
                <option value="@person.Id">@person.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Title:</label>
        <input type="text" @bind="praiseDto.Title" class="form-control" />
    </div>

    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" @bind="praiseDto.Description" rows="3"></textarea>
    </div>

</Modal>

@code{
    private Modal modal;
    private List<PersonDto> people = new List<PersonDto>();

    private PraiseDto praiseDto = new PraiseDto
    {
        To = new PersonDto()
    };

    protected override async Task OnInitializedAsync()
    {
        people = await usersService.GetAll();
    }

    private async Task OnSave()
    {
        await activitiesService.CreatePraise(praiseDto);
    }

    public void Open()
    {
        modal.Open();
    }
}