﻿@page "/objectives"

@inject IActivitiesService service
@inject ActivityState activityState

<h1>Objectives</h1>

<ActivityList activities="@activities" />

@code {
    List<ActivityDto> activities = new List<ActivityDto>();

    protected override async Task OnInitializedAsync()
    {
        activityState.OnActivityCreated += OnActivityChanged;
        activities = await service.GetObjectives();
    }

    private async Task OnActivityChanged()
    {
        activities = await service.GetActivities();
        StateHasChanged();
    }
}